.discussion-section {
    display: block;
    flex-direction: column;
    width: 1058px;
    margin-left: 263px;
    margin-top: 30px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.discussion-container {
    width: 1058px;
    height: 16.12rem;
    border-radius: 3px;
    box-sizing: border-box;
}

.discussion-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    display: flex;
    width: 1057px;
    height: 45px;
    line-height: 25px;
    align-items: center;
    padding-left: 15px;
    background: #FDF1EB;
    border-bottom: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    color: #5C5C5C;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

